.search-container {
  position: relative;
  width: 300px;
  margin: 20px auto;
}

.search-input {
  width: 100%;
  padding: 8px 30px 8px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.clear-btn {
  position: absolute;
  right: 10px;
  top: 6px;
  cursor: pointer;
  font-size: 20px;
  color: #0c0c0c;
  user-select: none;
}

.clear-btn:hover {
  color: #333;
}

.search-page {
  margin-top: 10px;
}

.page-title {
  font-weight: bold;
}

.entry-snippet {
  cursor: pointer;
  margin: 5px 0;
}

.highlight {
  background-color: rgb(0, 255, 102);
}

.no-results {
  margin-top: 10px;
  color: red;
}
